<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
<section class="container contact" >
<div class="contact-container">
  <div class="main-title">
      <h2>Contact <span>Me</span></h2>
  </div>
  <div class="contact-content-con">
      <div class="left-contact">
          
          <div class="contact-info">
              <div class="contact-item">
                  <div class="icon">
                      <i class="fas fa-map-marker-alt"></i>
                      <span>Location</span>
                  </div>
                  <p>: Dpi,Tamil Nadu</p>
              </div>
              
              <div class="contact-item">
                  <div class="icon">
                      <i class="fas fa-user-graduate"></i>
                      <span>Education</span>
                  </div>
                  <p>
                      <span>:Engineering</span>
                  </p>
              </div>
              <div class="contact-item">
                  <div class="icon">
                      <i class="fa fa-phone fa-flip-horizontal" ></i>
                      <span>Mobile</span>
                  </div>
                  <p>
                      <span>: 9943149678</span>
                  </p>
              </div>
              <div class="contact-item">
                  <div class="icon">
                      <i class="fas fa-globe-africa"></i>
                      <span>Languages</span>
                  </div>
                  <p>
                      <span>:English,Tamil</span>
                  </p>
              </div>
              <div class="contact-item">
                <div class="icon">
                    <i class="fas fa-envelope"></i>
                    <span>Email</span>
                </div>
                <p>
                  :Varshsekar@gmail.com
                </p>
            </div>
          </div>
          <div class="contact-icons">
              <div class="contact-icon">
                  
                  <a href="varshinisolachana@gmail.com" target="_blank">
                      <i class="fa fa-envelope"></i>
                  </a>
                  <a href="https://github.com/Varshinisek" target="_blank">
                      <i class="fab fa-github"></i>
                  </a>
                  <a href="https://www.linkedin.com/login" target="_blank">
                      <i class="fab fa-linkedin"></i>
                  </a>
              </div>
          </div>
          
      </div>
      <div class="right-contact">
        <h5>Fill out this:-</h5>
          <form action="" class="contact-form">
              <div class="input-control i-c-2">
                
                  <input type="text" required placeholder="Your name" />
                  <input type="email" required placeholder="Your email" />
              </div>
              <div class="input-control">

                  
                  <input type="text" required placeholder="Enter subject" />
              </div>
              <div class="input-control">
                  <textarea name="" id="" cols="15" rows="8" placeholder="Message Here..."></textarea>
                  <button type="submit" class="form1" value="Submit">Submit</button>
              </div>
          </form>
      </div>
  </div>
</div>
</section>
<router-outlet></router-outlet>
<router-outlet></router-outlet>