<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
<p>portfolio works!</p>
<section class="container" id="portfolio">
    <div class="main-title">
        <h2>My <span>Portfolio</span></h2>
    </div>
    <p class="port-text">
        Here is some of my work that I've done in various programming languages.
    </p>
    
    <div class="portfolios">
        
        <div class="portfolio-item">
            <div >
                <ul><li><h3>FlyAway (An Airline Booking Portal) </h3></li></ul>
                    <pre>        FlyAway is a ticket-booking portal that lets people book flights on their website.</pre>
                    <ul><li><h3>A Restaurant Website</h3></li></ul>
                    
                    <pre>        The website  provide the users a brief overview of the restaurant and its bestsellers, its address, as well as an option to contact the restaurant. 
                    </pre></div>
                      <div class="hover-items">
                <h3>Project Source</h3>
                <div class="icons">
                    <a href="https://github.com/Varshinisek" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    
                </div>
            </div>
        </div>
        
      
      
    </div>
</section>